@import "tailwindcss";

:root {
  --background: #040509;
  --foreground: #c8d8e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-mono);
  --font-mono: var(--font-space-mono);
}

body {
  background: #040509;
  color: #c8d8e8;
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
}
